<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form action="#" th:action="@{/code/new}" th:object="${codeSnippet}" method="post">
    <textarea id="code_snippet" th:field="*{code}"></textarea><br><br>
    <label>Time restriction:</label>
    <input id="time_restriction" th:field="*{time}"/><br><br>
    <label>Views restriction:</label>
    <input id="views_restriction" th:field="*{views}"/><br><br>
    <button id="send_snippet" type="submit" onclick="send()">Submit</button>

</form>
</body>
</html>