<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Code</title>
</head>
<body>
<span id="load_date" th:text="${codeSnippet.date}"></span>
<pre><code id="code_snippet" th:text="${codeSnippet.code}">  </code></pre>

</body>
</html>